* {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .heading {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        align-items: center;
        background-color: rgb(255, 255, 192);
        color: rgb(255, 157, 0);
        .tab-item {
           cursor: pointer;
           padding: 5px 10px;
            &.active {
                color: rgb(179, 0, 255);
                background-color: rgb(204, 255, 162);
                scale: 1.2;
            }
        }
    }
}